---
import { Button } from 'free-astro-components'
import Hero from '../sections/Hero.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="">
  <main>
    <Hero
      align="center"
      title="Innovative Solutions, Seamless Experiences</strong>"
      description="Discover cutting-edge digital solutions designed for performance and scalability. Explore our work and experience seamless technology in action."
    >
      <div>
        <!--<Button href="#" label="Discover more" />-->
      </div>
    </Hero>
  </main>
</Layout>
